<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="container">
                <div class="col-xs-12">
                    <nav class="navbar navbar-default">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="{{ path('homepage') }}">Home</a>
                            </li>
                            <li>
                                <a href="{{ path('show_blog') }}">Blog</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav pull-right">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li>
                                    <a href="{{ path('security_logout') }}">Logout</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('security_login') }}">Login</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                                <li>
                                    <a href="{{ path('admin_blog_show') }}">Admin</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="container">
                <div class="col-xs-12">
                    {% if app.session.started and app.session.flashBag.peekAll is not empty %}
                        <div class="messages">
                            {% for type, messages in app.session.flashBag.all %}
                                {% for message in messages %}
                                    {# Bootstrap alert, see http://getbootstrap.com/components/#alerts #}
                                    <div class="alert alert-dismissible alert-{{ type }}" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>

                                        {{ message|trans }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
